{% extends './parts/base.html.twig' %}

{% block title %}Demande de validation
{% endblock %}

{% block body %}
	<div class="container rounded p-4 shadow-lg" style="margin-top:100px;max-width:1000px;min-height:70vh">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 mt-4">
				<h1 class="h3 mb-3 font-weight-normal text-center mb-5">Sécurisez votre compte</h1>
				<p class='mt-5'>Vous allez recevoir dans un instant un email contenant un lien afin de vérifier votre compte et vous permettre de poster des commentaires et même de créer/éditer des figures.</p>
				<p class='mt-5 fs-5 text-center alert alert-success shadow'>Vous êtes connecté !</p>
				<p class="mt-5">
					Vous pouvez redemander une vérification de compte et modifier votre mot de passe. Toutes les autres actions ne seront disponible qu'àprès la vérification de votre compte.</p>
			</div>
		</div>
	</div>
{% endblock %}
