{% extends './parts/base.html.twig' %}

{% block title %}Account validation
{% endblock %}

{% block body %}
	<div class="container rounded p-4 shadow-lg" style="margin-top:100px;max-width:1000px;min-height:70vh">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 mt-4">
				<h1 class="h3 mb-3 font-weight-normal text-center mb-5">Secure your account</h1>
				<p class='mt-5'>You will shortly receive an email containing a link to verify your account and allow you to post comments and even create/edit tricks.</p>
				<p class='mt-5 fs-5 text-center alert alert-success shadow'>You are connected !</p>
				<p class="mt-5">
					You can request account verification again and change your password. All other actions will only be available after your account has been verified.</p>
			</div>
		</div>
	</div>
{% endblock %}
