<h1 style="color:#0dcaf0">SNOWTRICKS</h1>
<p style="margin-top:30px;font-size:1.5em;">Hi
	<b>{{ user.username }}</b>
</p>
<p style="margin-top:30px;">Following your request, you will be able to log in and choose a new password by clicking on the link below :</p>
<p style="margin:30px 0;">
	<a href=" {{ absolute_url(path('app_reset_password', {token: token} )) }}" style="text-decoration:none;padding:8px;background:#08d;color:#fff;border-radius:8px">RESET PASSWORD</a>
</p>
<p>This link will expire in 1 hour</p>
<hr/>
<p style="color:#555">&copy;Kimealabs 2022</p>
