<h1 style="color:#0dcaf0">SNOWTRICKS</h1>
<p style="margin-top:30px;font-size:1.5em;">Bonjour
	<b>{{ user.username }}</b>
</p>
<p style="margin-top:30px;">Votre compte snowtricks est à valider en cliquant sur le lien ci-dessous :</p>
<p style="margin:15px 0;">
	<a href=" {{ absolute_url(path('app_verify_user', {token: token} )) }}" style="text-decoration:none;padding:8px;background:#08d;color:#fff;border-radius:8px">VALIDEZ VOTRE COMPTE</a>
</p>
<p>Ce lien expirera dans 1 heure</p>
<hr/>
<p style="color:#555">&copy;Kimealabs 2022</p>
