<nav class="d-none d-md-block fixed-top bg-white bg-secondary " id="start">
	<div class="d-flex justify-content-around align-items-center mx-5 my-2 fs-1">
		<a class="brand flex-grow-1 text-pink text-white text-decoration-none" href="#">Snowtricks</a>
		<div class="d-flex gap-4 fs-4 text-pink text-white">
			<a class="active text-reset text-decoration-none" aria-current="page" href="{{ path('app_home') }}">Home</a>
			<a class="text-reset text-decoration-none" href="#">Sign In</a>
			<a class="text-reset text-decoration-none" href="#">Sign Up</a>

		</div>
	</div>
</nav>


<nav class="d-block d-md-none fixed-bottom bg-white py-2" id="end">
	<div class="d-flex justify-content-around align-items-center mx-5 fs-1">
		<a class="active text-reset text-decoration-none" aria-current="page" href="{{ path('app_home') }}">
			<i class="fa-solid fa-house"></i>
		</a>
		<a class="text-reset text-decoration-none" href="#">
			<i class="fa-solid fa-user-plus"></i>
		</a>
		<a class="text-reset text-decoration-none" href="#">
			<i class="fa-solid fa-right-to-bracket"></i>
		</a>
	</div>
</div></nav>
